<%- include('header') %>
  </head>
  <body class="fixed">
    <div class="wrapper">
      <%- include('navbar') %>
      <!-- Side-Nav-->
      <input id="toggle-sidebar" type="checkbox">
      <aside class="main-sidebar hidden-print">
        <section class="sidebar">
          <!-- Sidebar Menu-->
          <ul class="sidebar-menu">
            <li><a href="/"><i class="fa fa-dashboard"></i><span>Tableau de bord</span></a></li>
            <li><a href="/search"><i class="fa fa-search-plus"></i><span>Recherche avancée</span></a></li>
            <li><a href="/add"><i class="fa fa-edit"></i><span>Ajouter un article</span></a> </li>
            <li><a href="/sales"><i class="fa fa-th-list"></i><span>Ventes</span></a></li>
            <li> <hr style="width:80%"> </li>
            <li><a href="/list"><i class="fa fa-file-text"></i><span>Articles</span></a></li>
            <li><a href="/bestsales"><i class="fa fa-line-chart"></i><span>Meilleures ventes</span></a></li>
            <li><a href="/stats"><i class="fa fa-pie-chart"></i><span>Statistiques</span></a></li>
            <li class="active"><a href="/advanced"><i class="fa fa-laptop"></i><span>Avancé…</span></a></li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="card">
              <h3 class="card-title">Importer un fichier DILICOM</h3>
              <form action="/import" enctype="multipart/form-data" method="post" id="importForm">
                <div class="card-body">
                    <% if (typeof message !== 'undefined') { %>
                      <div class="alert alert-dismissible alert-success fade in">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                        <%=message%>
                      </div>
                    <% } %>
                    <input class="form-control" type="file" name="dilicom" id="import" />
                </div>
                  <div class="card-footer">
                      <button class="btn btn-primary icon-btn" type="submit" id="submit">
                        <i class="fa fa-upload"></i> Envoyer
                      </button>
                  </div>
              </form>
            </div>
            <div class="card">
                <h3 class="card-title">Export du stock</h3>
                <div class="card-body">
                    Export du stock au format CSV
                </div>
                <div class="card-footer">
                    <a href="/export" class="btn btn-info icon-btn">
                        <i class="fa fa-download"></i>Télécharger</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/lib/bootstrap-native.min.js"></script>
  </body>
</html>
