<% include header %>
    <style>
        .bar rect {
            fill: steelblue;
        }

        .bar text {
            fill: #fff;
            font: 10px sans-serif;
        }
    </style>
  </head>
  <body class="fixed">
    <div class="wrapper">
      <!-- Navbar-->
      <header class="main-header hidden-print"><a class="logo" href="/"><%= appName %></a>
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <label class="sidebar-toggle" title="Afficher/Masquer la barre latérale" for="toggle-sidebar"></label>
          <!-- Navbar Right Menu-->
          <div class="navbar-custom-menu">
            <ul class="top-nav">
                <li>
                    <a href="/cart" title="Voir le panier">
                        <i class="fa fa-shopping-cart fa-lg"></i><span class="badge"><%=cart.count%></span></i>
                    </a>
                </li>
              <!-- User Menu-->
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu">
                  <li><a href="/logout"><i class="fa fa-sign-out fa-lg"></i> Se déconnecter</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Side-Nav-->
      <input id="toggle-sidebar" type="checkbox">
      <aside class="main-sidebar hidden-print">
        <section class="sidebar">
          <!-- Sidebar Menu-->
          <ul class="sidebar-menu">
            <li><a href="/"><i class="fa fa-dashboard"></i><span>Tableau de bord</span></a></li>
            <li><a href="/search"><i class="fa fa-search-plus"></i><span>Recherche avancée</span></a></li>
            <li><a href="/add"><i class="fa fa-edit"></i><span>Ajouter un article</span></a> </li>
            <li><a href="/sales"><i class="fa fa-th-list"></i><span>Ventes</span></a></li>
            <li> <hr style="width:80%"> </li>
            <li><a href="/list"><i class="fa fa-file-text"></i><span>Articles</span></a></li>
            <li><a href="/zero"><i class="fa fa-repeat"></i><span>À renouveler</span></a></li>
            <li><a href="/ordered"><i class="fa fa-truck"></i><span>Commandés, en attente</span></a></li>
            <li><a href="/bestsales"><i class="fa fa-line-chart"></i><span>Meilleures ventes</span></a></li>
            <li class="active"><a href="/stats"><i class="fa fa-pie-chart"></i><span>Statistiques</span></a></li>
            <li><a href="/advanced"><i class="fa fa-laptop"></i><span>Avancé…</span></a></li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
            <div class="card">
              <h3 class="card-title">Nombre de ventes par heure</h3>
              <svg id="hourChart" data-hours="<%=hours%>" class="chart"></svg>
            </div>
            <div class="card">
              <h3 class="card-title">Nombre de ventes par jour</h3>
              <svg id="dayChart"  data-days="<%=days%>"   class="chart"></svg>
            </div>
        </div>
    </div>
    <!-- Javascripts-->
    <script type="text/javascript" src="/js/lib/bootstrap-native.min.js"></script>
    <script type="text/javascript" src="/js/lib/d3.min.js"></script>
    <script type="text/javascript" src="/js/stats.js"></script>
  </body>
</html>
